<div class="row mx-5 mt-2 mb-5 navbar navbar-expand-lg navbar-light bg-black">
  <div class="row col-lg-2 mr-4">
    <img class="avatar align-self-center mr-3" src="../../assets/img/logo.png" alt="logo Noisy">
    <a class="navbar-brand text-white" [routerLink]="['/']">NOISY</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a type="button" class="btn btn-outline-warning mx-4" [routerLink]="['/artistas', 1]"
          [routerLinkActive]="['actived']">Inicio</a>
      </li>
    </ul>
  </div>







  <!--==parte derecha usuario==-->
  <div class=" row col-lg-11 d-flex justify-content-end">
    <ul class="navbar-nav">
    <div class="user-image" *ngIf="user.image && user.image != 'null'">
      <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" class="image-podcast" />
    </div>
    <span id="identity_name">
      {{identity.name}}
    </span>
    
      <li class="nav-item active">
        <a [routerLink]="['/mis-datos']" [routerLinkActive]="       ['actived']" class="btn btn-outline-warning mx-4">
          Perfil
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-5 px-2">
      <li class="nav-item active">
        <a (click)="logout() " class="btn btn-outline-warning mx-4">
          <span aria-hidden="true"></span> Log out
        </a>
      </li>
    </ul>

  </div>
</div>

<div [class.hidden]="!identity" class="central col-lg-12">

  <router-outlet></router-outlet>

  <div class="clearfix"></div>

  <!-- el player -->
  <div class="container-100">
    <div class="audio-player">
      <div class="timeline">
        <div class="progress"></div>
      </div>
      <div class="controls">
        <div class="divider"></div>
        <div class="play-container">
          <div class="toggle-play play">
          </div>
        </div>
        <div class="divider"></div>
        <div class="time">
          <div class="current">0:00</div>
          <div class="divider">/</div>
          <div class="length"></div>
        </div>
        <div class="divider"></div>
        <div class="name">Noisy player</div>
        <div class="divider"></div>
        <div class="volume-container">
          <div class="volume-button">
            <div class="volume icono-volumeHigh"></div>
          </div>
          <div class="volume-slider">
            <div class="volume-percentage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
 


  <!--<player class="player"></player>-->
  
</div>


<div class="row col-lg-12  justify-content log" *ngIf="!identity">
    <!--==login==-->
    <div class=" col-lg-6">
        <div class="row justify-content-center mx-0">
            <div class="login-box ">
                <div class="row justify-content-center mb-2">
                    <img class="avatar mt-n5" src="../assets/img/logo1.png" alt="logo Noisy">
                </div>
                <h1>Iniciar sesion</h1>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="group">
                        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>correo</label>
                    </div>

                    <div class="group">
                        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Contraseña</label>
                    </div>

                    <input type="submit" value="Ingresar">
                </form>

            </div>
        </div>
    </div>

    <!--==registro==-->
    <div class=" col-lg-6">
        <div class="row justify-content-center mx-0">
            <div class="login-box borde">
                <div class="row justify-content-center mb-2">
                    <img class="avatar mt-n5" src="../assets/img/logo1.png" alt="logo Noisy">
                </div>
                <h2 class="text-center">Registrate para grabar y escuchar los mejores podcast</h2><br>
                <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">

                    <div class="group">
                        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre</label>
                    </div>

                    <div class="group">
                        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Apellido</label>
                    </div>

                    <div class="group">
                        <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Correo electronico</label>
                    </div>

                    <div class="group">
                        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
                            required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Contraseña</label>
                    </div>

                    <input type="submit" value="Registrarte" style="font-family: monospace;">
                    <br>
                    <p>Al registrarte, aceptas nuestras <a href="#">Condiciones</a>, la <a href="#">Politica de
                            datos</a> y la <a href="#"> Politica de cookies</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
